<h1>Top Posts</h1>
<div class="posts">

  <% @posts.each do |post, index| %>
    <div class="post <%= post.featured %>">
      <h3><%= post.header %></h3>
      <p><%= post.published %></p>
      <%= image_tag post.image %>
      <p><%= post.description %></p>
      <p><%= post.comment_count %></p>

      <p>Related Stories</p>
      <ul>
        <% post.related_posts.each do |post| %>
          <li><%= link_to post[:title], post[:url] %> - <%= post[:source] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>