<h1>Top Posts</h1>
<div class="posts">

  <% @presenters.each do |presenter| %>
    <div class="post<%= presenter.featured_post? %>">
      <h3><%= presenter.header %></h3>
      <p><%= presenter.published %></p>
      <%= image_tag presenter.image %>
      <p><%= presenter.description %></p>
      <p><%= presenter.comment_count %></p>
      <p>Related Stories</p>
      <ul>
        <% presenter.related_posts.each do |link| %>
          <li><%= link.html_safe %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>